.header-container {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    padding: 20px;
    flex-grow: 1;
}

.header-container>div {
    align-content: stretch;
    flex-grow: 8;
    text-align: center;
}

.shop-text>a {
    align-content: stretch;
    color: #252525;
    flex-grow: 8;
    font-weight: bold;
    letter-spacing: 4px;
}

.empty-cart {
    display: flex;
    color: gray;
    font-family: sans-serif;
    margin-top: 70px;
    justify-content: center;
}