.header-container {
    display: flex;
    margin: 5px 0px 0 0;
    padding: 20px;
    flex-grow: 1;
     background-color: #2952a3;
}

.header-container>div {
    align-content: stretch;
    flex-grow: 8;
    text-align: center;
}

.shop-list{
    display: flex;
    flex-wrap:wrap;justify-content: space-between;
}

.shop{
    font-family: Arial;
    width:40%;
    border: 1px solid  white;
    border-radius: 25px;
    box-shadow: 0px 0px 8px 2px #888888;
    margin: 2em;
    padding: 1em;
}
.shop-name{
color: black;
    font-size: 1.4em;
}
a{text-decoration: none;}